@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .has-ring-focus {
    @apply transition-shadow motion-reduce:transition-none focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary-500 dark:focus-visible:ring-offset-gray-700;
  }
}

@layer components {
  .jump-to {
    @apply sr-only;
  }
  
  .jump-to:focus-visible {
    @apply w-auto h-auto fixed z-10 px-3 py-2 left-2 top-2 bg-white dark:bg-gray-600 text-primary-600 dark:text-white font-medium rounded outline-none ring-2 ring-offset-2 dark:ring-offset-gray-800 ring-primary-600;
    clip: unset;
  }

  abbr.required {
    @apply no-underline;
  }

  .label {
    @apply mb-1 block text-sm font-medium text-gray-700 dark:text-gray-300;
  }

  .input {
    @apply text-sm block w-full py-2 px-3 border border-gray-300 bg-white 
      rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-primary-500
      focus:border-primary-500 sm:text-sm dark:bg-gray-700 dark:border-gray-700 dark:text-gray-300;
  }

  textarea.input {
    min-height: 8em;
    max-height: 20em;
  }

  input::-webkit-calendar-picker-indicator,
  input:hover::-webkit-calendar-picker-indicator,
  input:focus::-webkit-calendar-picker-indicator {
    display: none;
    width: 0px;
    height: 0px;
    opacity: 0;
  }

  .select {
    @apply text-sm block w-full py-2 px-3 border border-gray-300 bg-white 
      rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:ring-2
      focus:border-primary-500 sm:text-sm dark:bg-gray-700 
      dark:border-gray-700 dark:text-gray-200;
  }

  .checkbox-label {
    @apply text-sm inline-flex items-center dark:text-gray-300;
  }

  .checkbox {
    @apply rounded border-gray-300 dark:border-gray-700
      text-primary-600 shadow-sm focus:outline-none focus:ring-2
      focus:ring-primary-500 dark:ring-offset-gray-700
      dark:bg-gray-600;
  }

  .checkbox:checked {
    @apply dark:bg-primary-600;
  }

  .button {
    @apply group relative inline-flex items-center px-4 py-2 
      border border-gray-300 dark:border-gray-700 dark:active:border-gray-500
      rounded-md shadow-sm text-sm font-medium 
      text-gray-700 dark:text-gray-300 
      bg-white hover:bg-gray-50 dark:bg-gray-700 active:bg-gray-100
      dark:hover:bg-gray-600 dark:active:bg-gray-500 
      dark:hover:border-gray-600 dark:hover:text-gray-200 
      focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 
      dark:focus-visible:ring-offset-gray-700 focus-visible:ring-primary-500
      disabled:cursor-default transition-shadow 
      motion-reduce:transition-none 
      disabled:opacity-50 disabled:bg-white dark:disabled:bg-gray-700 dark:disabled:border-gray-700;
  }

  .button svg {
    @apply -ml-1 mr-2 h-5 w-5 text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-300;
  }

  .button svg.is-right {
    @apply ml-2 -mr-1;
  }

  .button.is-ghost {
    @apply bg-transparent shadow-none border-transparent hover:bg-gray-100
      text-primary-600 dark:text-primary-400 dark:hover:text-primary-300 
      dark:hover:bg-gray-700 dark:hover:border-gray-700;
  }

  .button.is-ghost.is-darker {
    @apply hover:bg-gray-200 dark:hover:bg-gray-600 dark:hover:border-gray-600 dark:active:border-gray-600;
  }

  .button.is-primary {
    @apply border-transparent text-white bg-primary-600 
      hover:bg-primary-700 hover:border-primary-700
      active:bg-primary-800 active:border-primary-800
      disabled:opacity-50 disabled:bg-primary-600;
  }

  .button.is-danger {
    @apply border-transparent text-white bg-red-600 hover:bg-red-700 
      hover:border-red-700 active:bg-red-800 active:border-red-800
      disabled:opacity-50 disabled:bg-red-600;
  }

  .button.is-link {
    @apply hover:underline;
  }

  .button.is-active {
    @apply z-10 bg-primary-50 hover:bg-primary-100 active:bg-primary-200 
      dark:bg-primary-900 dark:hover:bg-primary-800 dark:active:bg-primary-700
      border-primary-500 dark:border-primary-600 dark:hover:border-primary-500
      text-primary-600 dark:text-primary-100;
  }

  .button.is-ghost svg {
    @apply text-primary-500 dark:text-primary-400 dark:group-hover:text-primary-300;
  }

  .button.is-ghost:hover svg {
    @apply dark:text-primary-300;
  }

  .button.is-active svg {
    @apply text-primary-500 dark:text-primary-200 dark:group-hover:text-primary-300;
  }

  .button.is-primary svg {
    @apply text-white;
  }

  .button.is-icon-only svg {
    @apply mx-0;
  }

  .button .icon.is-on-left {
    @apply absolute left-0 inset-y-0 flex items-center pl-3 mx-0;
  }

  .button .icon.is-google-icon svg {
    @apply mx-0;
  }

  .chip {
    @apply cursor-pointer inline-block motion-safe:transition-colors duration-300 
      text-sm px-3 py-1 dark:text-gray-200 rounded-full
      border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-700
      hover:bg-gray-100 dark:hover:bg-gray-600;
  }

  .chip.is-active {
    @apply bg-primary-100 dark:bg-primary-900 
      text-primary-600 dark:text-primary-100 
      border-primary-500 dark:border-primary-500
      hover:bg-primary-200 dark:hover:bg-primary-800 dark:hover:border-primary-400;
  }

  .chip.is-square {
    @apply rounded-md;
  }
}
